#comp-eng::before {
    margin-left: -5%;
    content: "COMPUTER";
    font-weight: 1000;
    color: rgb(77, 82, 85);
    font-size: 60vh;
    position: absolute; 
    top: -25vh; 
    left: 0; 
    z-index: -1;
}

#comp-eng::after {
    margin-left: -3%;
    content: "ENGINEERING";
    font-weight: 1000;
    color: rgb(77, 82, 85);
    font-size: 60vh;
    position: absolute; 
    bottom: -25vh; 
    left: 0; 
    z-index: -1;
    animation-delay: 300ms;
}

#media-arts::before {
    margin-left: -5%;
    content: "MEDIA";
    font-weight: 1000;
    color: rgb(108, 128, 58);
    font-size: 60vh;
    position: absolute; 
    top: -22vh; 
    left: 2%; 
    z-index: -1;
}

#media-arts::after {
    margin-left: -3%;
    content: "DESIGN";
    font-weight: 1000;
    color: rgb(108, 128, 58);
    font-size: 60vh;
    position: absolute; 
    bottom: -22.5vh; 
    left: 0; 
    z-index: -1;
    animation-delay: 300ms;
}

div.top-grad::before {
    content: "TOP GRADUATE";
    color: rgba(27, 27, 27, 0.7);
    font-size: 4rem;
    position: absolute; 
    width: 100%;
    justify-self: center;
    text-align: center;
    z-index: -1;
}

.blue-glow {
    box-shadow: 0px 0px 50px rgba(0,31,78,0.6);
}

.purple-glow {
    box-shadow: 0px 0px 40px rgba(165, 48, 211, 0.2);
}

.green-glow {
    box-shadow: 0px 0px 60px rgba(0,139,86,0.6);
}

.yellow-glow {
    box-shadow: 0px 0px 40px rgba(168, 190, 67, 0.3);
}

.white-glow {
    box-shadow: 0px 0px 30px rgba(255,255,255,0.1);
}

.really-white-glow {
    box-shadow: 0px 0px 50px rgba(255,255,255,0.3);
}