@keyframes movegalleryLeft {
    0% {
        transform: translate(0%,0);
    }
    100% {
        transform: translate(-55.2%,0); /* Adjust the translation% to make sure "teleporting" isnt obvious */
    }
}


/* default is -56% */

@keyframes movegalleryRight {
    0% {
        transform: translate(-57%,0);
    }
    100% {
        transform: translate(0,0); /* Adjust the translation% to make sure "teleporting" isnt obvious */
    }
}

@keyframes intersection-fade-in {
    0% {
        opacity: 0;
        transform: translate(0, 100%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes intersection-fly-in-right {
    0% {
        opacity: 0;
        transform: translate(-100%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes intersection-fly-in-left {
    0% {
        opacity: 0;
        transform: translate(100%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/* Fly-in Animations */
.in-view-fly-in {
    animation: intersection-fade-in 1s both;
}

.not-in-view-fly-out {
    opacity: 0;
}

.in-view-fly-right {
    animation: intersection-fly-in-right 1s both;
}

.in-view-fly-left {
    animation: intersection-fly-in-left 1s both;
}

@keyframes cursor-blink {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: white;
    }
}

/* Misc Helper Classes for delaying animations */
.delay-200 {
    animation-delay: 200ms;
}

.delay-300 {
    animation-delay: 300ms;
}

.delay-400 {
    animation-delay: 400ms;
}

.delay-500 {
    animation-delay: 500ms;
}