@keyframes movegalleryLeft {
    0% {
        transform: translate(0%,0);
    }
    100% {
        transform: translate(-55.2%,0); /* Adjust the translation% to make sure "teleporting" isnt obvious */
    }
}


/* default is -56% */

@keyframes movegalleryRight {
    0% {
        transform: translate(-57%,0);
    }
    100% {
        transform: translate(0,0); /* Adjust the translation% to make sure "teleporting" isnt obvious */
    }
}

@keyframes intersection-fade-in {
    0% {
        opacity: 0;
        transform: translate(0, 100%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/* Fly-in Animations */
.in-view {
    animation: intersection-fade-in 1s 0.2s both;
}

.not-in-view {
    opacity: 0;
}

@keyframes cursor-blink {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: black;
    }
}