/* This stylesheet is dedicated to the homepage. */

/* 
    Contents:
    1. Hero Section Styles
    2.
*/

/* 1. Hero Section Styles */

#hero-section {
    background: url("https://img.asmedia.epimg.net/resizer/v2/53BQS3TQUJBVRJW6V6XQMU4CAU.jpg?auth=2fd7053d8ada2a10dbc2388e0d9ecedebdf0c6e66ddbfbfed087817841dfade6&width=644&height=362&smart=true") center/cover fixed no-repeat;
    height: 510vh;
    
}

#hero-start {
    background-color: white;
    height: 100vh;
    z-index: 999;
}

#hero-header {
    font-size: 15vh;
    text-shadow: 5px 5px rgb(246, 50, 62, 0.6),
                 10px 10px rgb(246, 50, 62, 0.4),
                 15px 15px rgba(161, 0, 11, 0.2);
    color: rgb(246, 50, 62);
}

#hero-fade {
    height: 410vh;
    z-index: 0;
}

/* 2. The Infinite Image Gallery (360 Carousel) */
div#img-gallery-1 {
    white-space: nowrap;
    animation: movegalleryLeft1 6.5s linear infinite; /* Adjust the time to make sure "teleporting" isnt obvious */
}

div.inf-gallery-right {
    white-space: nowrap;
    animation: movegalleryRight 5s linear infinite; /* Adjust the time to make sure "teleporting" isnt obvious */
}

#gallery {
    display: grid;
    grid-template-rows: 25vh, 25vh, 25vh, 25vh;
    gap: 1px;   
}

#gallery img {
    max-height: 25vh;
}

div#img-gallery-1 {
    grid-row: 1;
}
div#img-gallery-2 {
    grid-row: 2;
}
div#img-gallery-3 {
    grid-row: 3;
}
div#img-gallery-4 {
    grid-row: 4;
}