/* This stylesheet is dedicated to the homepage. */

/* 
    Contents:
    1. Hero Section Styles
    2.
*/

/* 1. Hero Section Styles */

#hero-section {
    background: url("https://img.asmedia.epimg.net/resizer/v2/53BQS3TQUJBVRJW6V6XQMU4CAU.jpg?auth=2fd7053d8ada2a10dbc2388e0d9ecedebdf0c6e66ddbfbfed087817841dfade6&width=644&height=362&smart=true") center/cover fixed no-repeat;
    height: 510vh;
    
}

#hero-start {
    background-color: white;
    height: 100vh;
    z-index: 999;
}

#hero-header {
    font-size: 13vw;
    color: rgb(246, 50, 62);
}

#hero-fade {
    height: 410vh;
    z-index: 0;
}